.main {

}

.nav {
    background: #1B2D48;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.372);
    align-items: center;
}

.download {
    padding: 10px;
}

.logoContainer {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.logoText {
    font-size: 26px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    padding-left: 15px
}

.appLogo {
    height: 60px;
    width: 60px;
}

.footer {
    position: fixed;
    bottom: 10px;  
    left: 10px;  
    width: 50px;   
    height: auto; 
}